.container, body, html{
	height: 100%;
  padding-right: 0px;
  padding-left:0px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  }

img.logo {
  width: 70px;
 }

 /*Navbar*/

 .navbar {
  	position: relative;
  	min-height: 55px;
  	margin-bottom: 0px;
  	border: 1px solid transparent;
  }

  .navbar-nav {
    font-family:Lobster;
    font-size: 20px; 
  }

  .navbar-default {
  background-color: white;
  position: fixed;
  z-index: 11;
  width: 100%;
  border-radius: 0px;

  }

h3{
  font-size: 85px;
}

h4 {
  font-size: 28px;
  font-family: Monospace;
  font-style: italic;
}

@media screen and (min-width: 1023px){
  .navbar-nav{
    margin-left: 20px;
  }
}

/*Portada*/

.fotoportada{
  position: relative;
  background: url(../img/ahorasiportada.png) no-repeat center center scroll;
  background-size: cover;
  height: 100%;
  display: table;
  width: 100%;
}

 .textocentro {
  text-align: center;
  color: white;
  z-index: 10;
  display: table-cell;
  vertical-align: middle;
}
.portada {
    width: 100%;
    height: 85%;
  }

.filtro{
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.cajalogo{
  width: 50%;
}

.title-me {
  padding: 2%;
  }

/*Portafolio*/

.portafolio{
  min-height: 50px;
}

.gray {
  margin-bottom: 7px;
  border: dashed 1px brown;
  padding: 2%;
  .work {
    width: 100%;
    overflow: hidden;
  }
}

/*About*/

.about{
  width: 100%;
  background-image: url(../img/wall4.png);
}


  .me {
    width: 55%;
    margin: 0 auto;
    position: relative;
    left: 22%;
    padding-top:10px;
  }

  .profile {
  padding-bottom: 4%;
  padding-top: 1%;
}

  /*Poema*/

.row.lo {
    padding: 2%;
  }

.content{
  font-size: 16px;
}

h2.title-bottom.text-center {
  padding-bottom: 2%;
  font-family: monospace;
  }
  
.yo{
  padding: 10px;
}

p.yo.center{
  padding: 20px 145px 0 145px;
  text-align: justify;
  font-family: monospace;
  font-style: italic;
  font-size: 17px;
}

@media screen and (max-width:$screen-phone){
p.yo.center {
  padding: 0px;
  text-align: center;
  font-family:monospace;
  font-style: italic;
  }
}

  .lyric{
    font-family:initial;
  }

.title-skills {
  padding: 2%;
}

.skills{
  width: 100%;
  height: 60%;
  }

.progreso-skills {
  margin-top: 70px;
}
.progress-bar-warning {
  background-color: #f0ad4e;
  color: black;
  font-family: monospace;
  font-style: italic;
  }

.contenido-skills {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%;
  }
  
.poema {
    background: url(../img/wall4.png);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: monospace;
    padding: 2%;
    line-height: 0;
    color: black;
    font-style: italic;
    }

    .row{
         margin-right: 0px; 
         margin-left: 0px; 
    }
    
img.flat-icon {
  width: 20%; 
}

/*Contacto*/

#contacto {
  width: 100%;
   p.convencer.text-center{
  font-size: 20px;
  font-family: monospace;
  font-style: italic;
  padding-top: 3%;
  padding-bottom: 3%;
}

img.correo {
  width: 20%;
  }

}
 
 .row {
  margin-right: 0;
}

/*Footer*/

.footer{
  background-color: #EB9532;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  .social-linkedin{
  width: 25%;
  margin: 0 auto;
  float: left;
  img.logo-contacto {
  width: 20%;
  
    }
  }
}


@media screen and (max-width:$screen-phone){
  .centro {
  margin: 5% auto;
  width: 60%;
  text-align: center;
  }
}